@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@font-face {
  font-family: "Minecraft";
  src: url("https://mcsr-streamoverlay.vercel.app/Minecraft.otf") format("opentype");
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Minecraft, Arial, Helvetica, sans-serif;
}
